*{
    font-family: Playfair Display;
}
html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
  }


.container{
    justify-content: center;
    background:  #051094;
    width: 100%;
    height: 100%;
}

.top-container{

    text-align: center;
    
}
/* .top-container .title{
    color:#E57200;
    font-size: 70px;
    line-height: 96px;
    
} */
.top-container img{
    height: 400px;
}
.bottom-container{

    text-align: center;
    
}
.bottom-container button{
    background:url(images/btn_google_signin_light_normal_web.png); 
    background-size: cover; 
    width: 200px;
    height: 50px;
    margin-top:3%;
    border:none;
    outline: none;
    
}
.bottom-container button:hover{
    background:url(images/btn_google_signin_light_focus_web.png); 
    background-size: cover; 
}
.bottom-container button:active{
    background:url(images/btn_google_signin_light_pressed_web.png);
    background-size: cover; 
}

/* Divided slant */
.slanted {
    -webkit-clip-path: polygon(100% 0, 0 0, 0% 100%,100% 0);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0%);
    background-image: url("images/rotunda.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100%;
    width:100%;
}
